@use "../../styles/variables.scss" as *;

.backlinks {
  flex-direction: column;
  /* Allow popovers to escape - don't clip absolutely positioned children */
  overflow: visible;
  position: relative;

  & > h3 {
    font-size: 1rem;
    margin: 0;
  }

  & > ul.overflow {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0;
    max-height: calc(100% - 2rem);
    overscroll-behavior: contain;
    /* The issue: overflow-y: auto will clip absolutely positioned children */
    /* We need scrolling but also need popovers to escape */
    overflow-y: auto;
    /* Note: overflow-x can't be visible when overflow-y is auto, but we can try clip */
    overflow-x: clip;
    position: relative;

    & > li {
      position: relative;
      /* Don't clip popovers on list items */
      overflow: visible;

      & > a {
        background-color: transparent;
        position: relative;
        display: inline-block;
        /* Create a stacking context for the popover */
        z-index: 1;

        &:hover {
          /* Higher z-index when hovered to ensure popover appears above */
          z-index: 1000;
        }
      }
    }
  }
}

/* Override popover positioning to use fixed instead of absolute when inside backlinks */
/* This allows it to escape the overflow container */
.backlinks .popover {
  position: fixed !important;
  /* The floating-ui script will still position it correctly */
}
